<single-spa-router>
  <div
    style="
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: auto 1fr;
    "
  >
    <nav>
      <application name="@demo/ui-navigation"></application>
    </nav>
    <main>
      <redirect from="/" to="/counter"></redirect>
      <route default>
        <h1>404 Not Found</h1>
      </route>
      <route path="counter" exact>
        <application name="@demo/counter-app"></application>
      </route>
      <route path="todo">
        <application name="@demo/todo"></application>
      </route>
      <route path="folios">
        <application name="@demo/folios"></application>
      </route>
    </main>
  </div>
</single-spa-router>
